/* Reseteo de estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #eac1a0;
}

/* Estilos del encabezado */
header {
  background-color: #96462d;
  padding: 20px 0;
  text-align: center;
}

/* Media luna con texto "Ciberacoso" */
.media-luna {
  width: 800px;
  height: 100px;
  background-color: #96462d; /* Rojo para el fondo */
  border-radius: 0 0 100px 100px; /* Forma de media luna */
  position: relative;
  margin: 20px auto;
  text-align: center;
  line-height: 100px; /* Centrar el texto verticalmente */
}

.media-luna p {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: underline;
  color: #fff;
  font-size: 25px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f39c12;
}

/* Estilos para las secciones */
section {
  padding: 40px;
  text-align: center;
}

section h1 {
  font-size: 2.5em;
  color: #333;
}

/* Fondo para las secciones */
#inicio {
  background-color: #96462d;
}

#spotify {
  background-color: #96462d; /* Verde de Spotify */
  color: #fff;
}

#blog {
  background-color: #96462d; /* Azul de blog */
  color: #fff;
}

#ods {
  background-color: #96462d; /* Verde ODS */
  color: #fff;
}

#acerca-de-nosotros {
  background-color: #96462d; /* Gris oscuro */
  color: #fff;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
img {
    max-width: 30%;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.caja {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}




